body,ul,li{
    margin: 0;
    padding: 0;
}
body{
    background-color: #242424;
}
.article {
    padding:25px 25px 0;
    margin-bottom: 25px;
}
.title{
    text-align:left;
    font-size:25px;
    color:#909ba8;
    min-height:34px;
    line-height:1.3;
}
.content{
    color:#636e7c;
    margin-top:40px;
    padding-bottom:10px;
    line-height:1.6;
    font-size:20px;
    clear:both;
}
.content p{
    text-indent:2em;
    margin:15px 0px;
    overflow:hidden;
}
.content p[style]{text-indent: 0em;}
.content img{width:auto;max-width:500px;height:250px;margin:10px 0px;padding:2px; }
.content .placeholder {
    width:100%;
    background-origin:content-box;
    background-clip:content-box;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('logo.png');
    opacity: 0.7;
}
.content .video {
    width:100%;
    overflow:hidden;
    text-indent:0px;
    background-image:url('btn_play.png');
    background-color:#ddd;
    background-repeat:no-repeat;
    background-size:auto,cover;
    background-clip:contet-box;
    background-position:center center;
    opacity: 0.7;
}
.func-wrapper {width:152px;height:auto;float:left;margin-top:8px;padding-bottom:15px;}
.func-button{ width: 68px;height: 30px; background-image: url('button_normal.png');background-repeat: no-repeat;float: left;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.func-button-focus{background-image: url('button focus.png')}
.func-button>img {position: relative;left:8px;top:6px;}
.func-button>span{position: relative;left:8px;top:4px;}
.block-description{float:left;width:100%; padding:6px 20px 0px 10px;font-size: 13px;color:#807f7c;}
.line-wrapper{ border-bottom: 1px dotted #cccccc;padding-bottom: 29px;}
img{-webkit-tap-highlight-color:rgba(0,0,0,0)}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);box-sizing:border-box;}
.btn-wrapper {overflow:auto;margin:0px 3px;border-bottom:2px solid #ccc;}
.btn {display:inline-block;background-repeat:no-repeat;background-position:center center;background-size:cover;width:32px;height:32px;padding:3px;}
.btn-go-back {background-image:url('btn_go_back.png');}
.btn-go-back:active {background-image:url('btn_go_back_active.png');}
.btn-share {background-image:url('btn_share.png');float:right;}
.btn-share:active {background-image:url('btn_share_active.png');}
.btn-star {background-image:url('btn_star.png');float:right;}
.btn-comment {background-image:url('btn_comment.png');float:right;}
.btn-comment:active {background-image:url('btn_comment_active.png');}
.time-and-source-panel {
    font-size:13px;
    color:#58626e;
    margin-top:5px;
    position: relative;
    height:26px;
    line-height:26px;
}
.time-and-source-panel span.source {
    margin-right: 12px;
}
.time-and-source-panel div.comment-count {
    background-color: #7c1e22;
    width: 84px;
    height: 26px;
    line-height:26px;
    position: absolute;
    top:0px;
    right: -25px;
    padding-right: 18px;
    opacity:0.9;
    text-align:right;
}
.comment-count-num{
    margin-right:5px;
    height:26px;
    min-height:26px;
    color: #ceafb0;
    display:inline-block;
}
.comment-count-icon{
    background: url(night_c_icon.png) center center no-repeat;
    background-size:contain;
    width: 16px;
    min-width: 16px;
    min-height: 26px;
    height: 26px;
    display: inline-block;
}
.relative-news-panel {
    display:none;
    padding-top:20px;
    background: url("night_split_line.png") repeat-x left top transparent;
}
.relative-news-panel > h1 {
    color:#58626e;
    font-size:20px;
    text-align:left;
    padding:0px 0px 5px 0px;
    margin-bottom: 10px;
}
.relative-news-panel > .news-list {
    font-size:18px;
}
.relative-news-panel > .news-list > li {
    color:#376682;
    line-height:2;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.adv {
    display:none;
    font-size:18px;
    line-height:1.5;
    overflow:hidden;
    color: #376682;
    padding-top:20px;
    background: url("night_split_line.png") repeat-x left top transparent;
}
.adv span.item {
    overflow:hidden;
}

.comment-line{
    width: 100%;
    height: 53px;
    min-height: 53px;
    background-image: url(night_comment_line.png);
    background-size: 100% 100%;
}
.comment{
    margin-top: -25px;
    display: none;
    background-color: #151515;
}
.comment > .comment-title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #58626e;
}
.comment > .comment-list{
    padding: 0 30px;
    margin-top: 10px;
    list-style: none;
}
.comment-item{
    padding: 15px 0;
    background: url("night_split_line.png") repeat-x left bottom transparent;
}
.comment-item > .comment-item-left{
    float: left;
}
.comment-item > .comment-item-left > .comment-item-ava{
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    background-color: #374e0c;
}
.comment-item > .comment-item-right{
    padding-left: 10px;
    overflow: hidden;
}
.comment-item > .comment-item-right > .comment-item-title{
    font-size: 14px;
    color: #376682;
}
.comment-item > .comment-item-right > .comment-item-content{
    margin-top: 8px;
    font-size: 16px;
    color: #58626e;
}
.comment-more{
    height: 60px;
    min-height: 60px;
    text-align: center;
}
.comment-more .comment-more-text{
    line-height: 60px;
    font-size: 18px;
    color: #58626e;
}
.comment-more .comment-more-icon{
    margin-left: 5px;
    display: inline-block;
    height: 9px;
    min-height: 9px;
    width: 15px;
    vertical-align: 2px;
    background-image: url("comment_more.png");
    background-repeat: no-repeat;
}
small{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    color: #58626e;
    margin-top: -5px;
}
.content p.img-note{
    text-indent: 0;
    margin-top: -5px;
}
.content p.img-note > small{
    margin-top: 0px;
}

.content.big{
    font-size: 28px;
}
.content.small{
    font-size: 15px;
}

@media only screen and (-webkit-device-pixel-ratio: 2.0){
    .content{
        font-size:18px;
    }
    .content.big{
        font-size: 26px;
    }
    .content.small{
        font-size: 13px;
    }
    .adv {
        font-size: 16px;
    }
    .relative-news-panel > h1 {
        font-size:20px;
    }
    .relative-news-panel > .news-list {
        font-size:18px;
    }
    .comment > .comment-title{
        font-size: 20px;
    }
    .comment-more .comment-more-text{
        font-size: 16px;
    }
    .comment-item > .comment-item-right > .comment-item-content{
        font-size: 15px;
    }
    .comment-item > .comment-item-right > .comment-item-title{
        font-size: 13px;
    }
}
@media only screen and (min-device-width:1080px){
    .content{
        font-size:16px;
    }
    .content.big{
        font-size: 24px;
    }
    .content.small{
        font-size: 12px;
    }
    .adv {
        font-size: 14px;
    }
    .relative-news-panel > h1 {
        font-size:18px;
    }
    .relative-news-panel > .news-list {
        font-size:16px;
    }
    .comment > .comment-title{
        font-size: 18px;
    }
    .comment-more .comment-more-text{
        font-size: 14px;
    }
    .comment-item > .comment-item-right > .comment-item-content{
        font-size: 13px;
    }
    .comment-item > .comment-item-right > .comment-item-title{
        font-size: 12px;
    }
}
@media only screen and (max-device-width:400px){
    .time-and-source-panel div.comment-count {
        width: 65px;
    }
    .time-and-source-panel div.comment-count {
        padding-right: 14px;
    }
}